<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inger.android.ollintest">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--<uses-feature android:name="android.hardware.sensor.accelerometer" />-->
    <!--<uses-feature android:name="android.hardware.sensor.compass" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.inger.android.ollintest.MainActivity"
            android:label="@string/patient_list"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"></activity>
        <activity
            android:name="com.inger.android.ollintest.IncreaseActivity"
            android:label="@string/header_add_patient"
            android:parentActivityName="com.inger.android.ollintest.MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inger.android.ollintest.IncreaseActivity" />
        </activity>
        <activity
            android:name="com.inger.android.ollintest.EditActivity"
            android:label="@string/header_edit_patient"
            android:parentActivityName="com.inger.android.ollintest.PatientFolderActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inger.android.ollintest.EditActivity" />
        </activity>
        <activity
            android:name="com.inger.android.ollintest.SettingsActivity"
            android:label="@string/header_settings"
            android:parentActivityName="com.inger.android.ollintest.MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inger.android.ollintest.SettingsActivity" />
        </activity>
        <activity
            android:name="com.inger.android.ollintest.AboutActivity"
            android:label="@string/header_about"
            android:parentActivityName="com.inger.android.ollintest.SettingsActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inger.android.ollintest.AboutActivity" />
        </activity>
        <activity
            android:name="com.inger.android.ollintest.PrivacyActivity"
            android:label="@string/header_privacy"
            android:parentActivityName="com.inger.android.ollintest.AboutActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inger.android.ollintest.PrivacyActivity" />
        </activity>
        <activity
            android:name="com.inger.android.ollintest.ActivationAccountActivity"
            android:label="@string/header_activation"
            android:parentActivityName="com.inger.android.ollintest.SettingsActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inger.android.ollintest.ActivationAccountActivity" />
        </activity>
        <activity
            android:name="com.inger.android.ollintest.EditAccountActivity"
            android:label="@string/header_edit_user_acount"
            android:parentActivityName="com.inger.android.ollintest.SettingsActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inger.android.ollintest.EditAccountActivity" />
        </activity>
        <activity
            android:name="com.inger.android.ollintest.FAQsListViewActivity"
            android:label="@string/header_faqs"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inger.android.ollintest.FAQsListViewActivity" />
        </activity>
        <activity
            android:name="com.inger.android.ollintest.PatientControlActivity"
            android:label="@string/header_control"
            android:parentActivityName="com.inger.android.ollintest.PatientFolderActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inger.android.ollintest.PatientControlActivity" />
        </activity>
        <activity
            android:name="com.inger.android.ollintest.PatientFolderActivity"
            android:label="@string/header_folder"
            android:parentActivityName="com.inger.android.ollintest.MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inger.android.ollintest.PatientFolderActivity" />
        </activity>
        <activity
            android:name="com.inger.android.ollintest.TestsActivity"
            android:label="@string/header_tests"
            android:parentActivityName="com.inger.android.ollintest.PatientFolderActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inger.android.ollintest.TestsActivity" />
        </activity>
        <activity
            android:name="com.inger.android.ollintest.WizardTestActivity"
            android:label="@string/header_wizard_tests"
            android:parentActivityName="com.inger.android.ollintest.TestsActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inger.android.ollintest.WizardTestActivity" />
        </activity>
        <activity
            android:name="com.inger.android.ollintest.BalanceTestOptionsActivity"
            android:label="@string/header_balance_test"
            android:parentActivityName="com.inger.android.ollintest.TestsActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inger.android.ollintest.BalanceTestOptionsActivity" />
        </activity>
        <activity
            android:name="com.inger.android.ollintest.WizardBalanceTestActivity"
            android:label="@string/header_wizard_tests"
            android:parentActivityName="com.inger.android.ollintest.BalanceTestOptionsActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inger.android.ollintest.WizardBalanceTestActivity" />
        </activity>
        <activity
            android:name="com.inger.android.ollintest.WalkingEvaluationListActivity"
            android:label="@string/header_walkability_evaluation"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"></activity>
        <activity
            android:name="com.inger.android.ollintest.BalanceEvaluationListActivity"
            android:label="@string/header_balance_evaluation"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"></activity>
        <activity
            android:name="com.inger.android.ollintest.StrengthEvaluationListActivity"
            android:label="@string/header_strength_evaluation"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"></activity>
        <activity
            android:name="com.inger.android.ollintest.CountDownActivity"
            android:label="@string/header_counter"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"></activity>
        <activity
            android:name="com.inger.android.ollintest.ConcentratedReportActivity"
            android:label="@string/header_concentrated"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"></activity>
        <activity
            android:name="com.inger.android.ollintest.RecoverPasswordActivity"
            android:label="@string/header_recover_password"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"></activity>
        <activity
            android:name="com.inger.android.ollintest.SignUpActivity"
            android:label="@string/header_sign_up"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"></activity>

        <service android:name="com.inger.android.ollintest.service.MotionSensors" />
        <service android:name="com.inger.android.ollintest.service.UploadToServer" />
        <service android:name="com.inger.android.ollintest.service.BackgroundAudioService" />

        <activity
            android:name="com.inger.android.ollintest.LoginActivity"
            android:label="@string/header_login"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.inger.android.ollintest.broadcast.NetworkMonitor">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.inger.android.ollintest.broadcast.AlarmReceiver"/>
    </application>
</manifest>
